Localization
{
	ru
	{
		// Plock
		#LOC_OPX-FF_Plock_Name = Плоцк^N
		#LOC_OPX-FF_Plock_Name_Alt = 134340 Плоцк^N
		#LOC_OPX-FF_Plock_Desc = Было много споров относительно статуса Плоцка как настоящей планеты или просто глыбы льда, вращающейся вокруг Солнца. Дебаты все еще продолжаются, поскольку большинство академических саммитов, проводимых для решения этой проблемы, в хорошие дни превратились в мелкие обзывания, а в худшие - в полномасштабные драки.
		#LOC_OPX-FF_Plock_Biome_L = низины^pf
		#LOC_OPX-FF_Plock_Biome_M = равнины^pf
		#LOC_OPX-FF_Plock_Biome_H = высокогорье^n
		#LOC_OPX-FF_Plock_Biome_Mo = Горы
		#LOC_OPX-FF_Plock_Biome_GC = Великие кратеры
		#LOC_OPX-FF_Plock_Biome_AM = Горы Аярза 
		#LOC_OPX-FF_Plock_Biome_CH = Холмы Чулак
		#LOC_OPX-FF_Plock_Biome_RH = Холмы Росас
		#LOC_OPX-FF_Plock_Biome_VM = Горы Вораш 
		#LOC_OPX-FF_Plock_Biome_CB = Бассейн Селестис
		#LOC_OPX-FF_Plock_Biome_LC = Хаос Лиры
		
		// Karen
		#LOC_OPX-FF_Karen_Name = Карен^N
		#LOC_OPX-FF_Karen_Desc = Карен - луна Плоцка, но в то же время это не так. Из-за их относительной массы два тела танцуют друг вокруг друга так, как никакие другие тела в солнечной системе. 
		#LOC_OPX-FF_Karen_Biome_L = низины^pf
		#LOC_OPX-FF_Karen_Biome_M = равнины^pf
		#LOC_OPX-FF_Karen_Biome_H = высокогорье^n
		#LOC_OPX-FF_Karen_Biome_SB = Бассейн Слекон
		#LOC_OPX-FF_Karen_Biome_FP = Мыс Фельгера
		#LOC_OPX-FF_Karen_Biome_IC = Ударные кратеры
		#LOC_OPX-FF_Karen_Biome_BC = Двойной Кратер
		#LOC_OPX-FF_Karen_Biome_EC = Кратер Эловин
		#LOC_OPX-FF_Karen_Biome_PP = Плато Падишар
		#LOC_OPX-FF_Karen_Biome_C = Каньоны
		#LOC_OPX-FF_Karen_Biome_SM = Сумгай Меса
		#LOC_OPX-FF_Karen_Biome_AV = Долина Аралах
		
		// Eiwei
		#LOC_OPX-FF_Eiwei_Name = Яйвай
		#LOC_OPX-FF_Eiwei_Name_Alt = 15760 Яйвай
		#LOC_OPX-FF_Eiwei_Desc = Помимо того, что Яйвай является самым ранним обнаруженным объектом за орбитой Плоцка, он также является самым спорным объектом в системе, поскольку никто не может понять, как произносится его английское название - Eiwei. Некоторые утверждают, что оно произносится как «И-ви», другие — как «И-вэй». Третья маргинальная группа вообще утверждает, что оно произносится как «Эй-вэй»! Сторонники «И-вэй» и «И-вэй» ссорятся друг с другом с момента его открытия, но не знают, что оба стороны совершенно неправы.
		#LOC_OPX-FF_Eiwei_Biome_L = низины^pf
		#LOC_OPX-FF_Eiwei_Biome_M = равнины^pf
		#LOC_OPX-FF_Eiwei_Biome_H = высокогорье^n
		
		// Narog
		#LOC_OPX-FF_Narog_Name = Нарог
		#LOC_OPX-FF_Narog_Name_Alt = 20000 Нарог
		#LOC_OPX-FF_Narog_Desc = Нарог, крупный транснейдонский объект, стал одним из первых объектов, обнаруженных в этом регионе. Его поверхность покрыта глубоко замороженными органическими соединениями, которые, возможно, можно использовать для производства закусок в этом отдалённом уголке космоса. В частности, его кривая блеска предсказывает наличие спутника, вращающегося по близкой орбите, ближе к поверхности, чем любой другой известный спутник!
		#LOC_OPX-FF_Narog_Biome_B = бассейны^pm
		#LOC_OPX-FF_Narog_Biome_L = низины^pf
		#LOC_OPX-FF_Narog_Biome_M = равнины^pf
		#LOC_OPX-FF_Narog_Biome_H = высокогорье^n
		
		// Ei
		#LOC_OPX-FF_Ei_Name = Ай
		#LOC_OPX-FF_Ei_Name_Alt = 20000 (1) Ай
		#LOC_OPX-FF_Ei_Desc = Ай — крошечный спутник Нарога, вращающийся так близко к нему, что наши лучшие телескопы могут видеть его лишь как артефакт на кривой блеска его родителя. Его существование часто оспаривается в астрономических кругах, но он в любом случае заслуживает записи в базе данных.
		#LOC_OPX-FF_Ei_Biome_L = низины^pf
		#LOC_OPX-FF_Ei_Biome_M = равнины^pf
		#LOC_OPX-FF_Ei_Biome_H = высокогорье^n
		
		// Anziephus
		#LOC_OPX-FF_Anziephus_Name = Анцифус
		#LOC_OPX-FF_Anziephus_Name_Alt = 127261 Анцифус
		#LOC_OPX-FF_Anziephus_Desc = Анцифус, один из недавно обнаруженных объектов во внешней части системы, получивших имя, — крупный объект, вращающийся далеко за пределами орбиты таких объектов, как Плок и Хавус. Наблюдения с расстояния показали, что на одной из сторон имеется аномалия альбедо, вероятно, крупный кратер, а наличие системы колец, вероятно, образовавшейся в результате того же удара, практически подтверждено.
		#LOC_OPX-FF_Anziephus_Biome_L = низины^pf
		#LOC_OPX-FF_Anziephus_Biome_M = равнины^pf
		#LOC_OPX-FF_Anziephus_Biome_H = высокогорье^n
		#LOC_OPX-FF_Anziephus_Biome_ETF = восточные поля толинов^pn
		#LOC_OPX-FF_Anziephus_Biome_WTF = западные поля толинов^pn
		#LOC_OPX-FF_Anziephus_Biome_FC = кратер Фриц^m
		#LOC_OPX-FF_Anziephus_Biome_FCR = край кратера Фриц^m
		
		// Pherph
		#LOC_OPX-FF_Pherph_Name = Плерф
		#LOC_OPX-FF_Pherph_Name_Alt = 127261 (1) Плерф
		#LOC_OPX-FF_Pherph_Desc = Плерф — странная луна. Широко распространено мнение, что он был захвачен в связи с его необычной и яркой окраской. Несмотря на свою странность, он так же популярен и является отличным местом для любителей крутых скал.
		#LOC_OPX-FF_Pherph_Biome_H = высокогорье^n
		#LOC_OPX-FF_Pherph_Biome_M = равнины^pf
		#LOC_OPX-FF_Pherph_Biome_L = низины^pf
		
		// Epam
		#LOC_OPX-FF_Epam_Name = Эпам
		#LOC_OPX-FF_Epam_Name_Alt = 127261 (2) Эпам
		#LOC_OPX-FF_Epam_Desc = Эпам — самый близкий к Анцифусу спутник, вращающийся непосредственно за пределами колец. Считается, что этот спутник образовался после удара, приведшего к образованию кратера Фриц.
		#LOC_OPX-FF_Epam_Biome_D = земли доаб^pf
		#LOC_OPX-FF_Epam_Biome_PR = полярный регион^m
		#LOC_OPX-FF_Epam_Biome_NC = северный кратер^m
		#LOC_OPX-FF_Epam_Biome_R = земли круга^pf
		
		// Garrath
		#LOC_OPX-FF_Garrath_Name = Гаррат
		#LOC_OPX-FF_Garrath_Name_Alt = 208996 Гаррат
		#LOC_OPX-FF_Garrath_Desc = Далекий мир разбросанного диска, Гаррат получил свое название от древнего бога спорта Колина из-за его сходства с футбольным мячом. Теперь, когда мы знаем о нем больше, можно с большей уверенностью сказать, что он похож на футбольный мяч. Он также покрыт по всей поверхности соединениями толина, окрашивающими лед в бледно-красный цвет. Однозначно никаких жертв, поверьте нам!
		#LOC_OPX-FF_Garrath_Biome_KC = кратер Квилл^m
		#LOC_OPX-FF_Garrath_Biome_AP = плато Аннун^n
		#LOC_OPX-FF_Garrath_Biome_KP = плато Кифед^n
		#LOC_OPX-FF_Garrath_Biome_PP = плато Покис^n
		#LOC_OPX-FF_Garrath_Biome_Po = полюса^pm
		#LOC_OPX-FF_Garrath_Biome_L = низины^pf
		#LOC_OPX-FF_Garrath_Biome_M = равнины^pf
		#LOC_OPX-FF_Garrath_Biome_H = высокогорье^n
		#LOC_OPX-FF_Garrath_Biome_Pl = плато^pn
		
		// Kerla
		#LOC_OPX-FF_Kerla_Name = Керла
		#LOC_OPX-FF_Kerla_Name_Alt = 208996 (1) Керла
		#LOC_OPX-FF_Kerla_Desc = Единственный известный спутник Гаррата, Керла, представляет собой небольшой объект радиусом около 18 километров, в целом схожий по цвету и составу поверхности с самим Гарратом. Вероятно, он может быть использован для дозаправки во время экспедиций к карликовой планете.
		#LOC_OPX-FF_Kerla_Biome_L = низины^pf
		#LOC_OPX-FF_Kerla_Biome_M = равнины^pf
		#LOC_OPX-FF_Kerla_Biome_H = высокогорье^n
		#LOC_OPX-FF_Kerla_Biome_R = раскол^m
		
		// Ebenus
		#LOC_OPX-FF_Ebenus_Name = Эбенус
		#LOC_OPX-FF_Ebenus_Name_Alt = 306721 Эбенус
		#LOC_OPX-FF_Ebenus_Desc = Пять знающих о нём кербалов считают Эбенус самым уважаемым и почитаемым местом во всей Солнечной системе. Его тёмные цвета и светлые контрасты делают этот спутник довольно неприметным и скромным по сравнению с его более яркими транснейдонскими собратьями. Захватите с собой книгу и стул — ходят слухи, что карликовая планета даже завяжет с вами скромную беседу.
		#LOC_OPX-FF_Ebenus_Biome_PR = полярные регионы^pm
		#LOC_OPX-FF_Ebenus_Biome_L = низины^pf
		#LOC_OPX-FF_Ebenus_Biome_M = равнины^pf
		#LOC_OPX-FF_Ebenus_Biome_H = высокогорье^n
		#LOC_OPX-FF_Ebenus_Biome_PC = кратер Паули^m
		
		// Dakara
		#LOC_OPX-FF_Dakara_Name = Дакара
		#LOC_OPX-FF_Dakara_Name_Alt = 497158 Дакара
		#LOC_OPX-FF_Dakara_Desc = Дакара - далёкий и примитивный транснейдонский объект. Было подтверждён методом затмения, что это контактный двойной объект длиной около восьми километров. К сожалению для любителей научной фантастики, никаких супероружий или генетически модифицированных кербалов здесь, как предполагается, не расположено.
		#LOC_OPX-FF_Dakara_Biome_DL = доля Дисценны^f
		#LOC_OPX-FF_Dakara_Biome_FL = доля Франки^f
		#LOC_OPX-FF_Dakara_Biome_N = перешеек^m
		
		// Arkar
		#LOC_OPX-FF_Arkar_Name = Аркар
		#LOC_OPX-FF_Arkar_Name_Alt = 541132 Аркар
		#LOC_OPX-FF_Arkar_Desc = Аркар — третий представитель исключительного класса объектов, вращающихся на таком большом расстоянии от Кербола, что даже гравитация Нейдона не может на них повлиять. Солнце — всего лишь ещё одна звезда на небе. Мы очень мало знаем о поверхности Аркара, но его открытие добавило ещё один фрагмент к загадке внешней системы: почему всё летит в одном направлении?
		#LOC_OPX-FF_Arkar_Biome_L = низины^pf
		#LOC_OPX-FF_Arkar_Biome_M = равнины^pf
		#LOC_OPX-FF_Arkar_Biome_H = высокогорье^n
		
		// Kuvra
		#LOC_OPX-FF_Kuvra_Name = Кувра
		#LOC_OPX-FF_Kuvra_Name_Alt = 50000 Кувра
		#LOC_OPX-FF_Kuvra_Desc = Первоначально считавшаяся среднестатистическим транснейдонским объектом, Кувра резко изменила свою оценку в глазах кербальских астрономов после открытия значительной кольцевой системы, присоединившей ее к исключительному (или, возможно, не столь исключительному) рангу меньших миров.
		#LOC_OPX-FF_Kuvra_Biome_B = бассейны^pm
		#LOC_OPX-FF_Kuvra_Biome_L = низины^pf
		#LOC_OPX-FF_Kuvra_Biome_M = равнины^pf
		#LOC_OPX-FF_Kuvra_Biome_H = высокогорье^n
		
		// Vot
		#LOC_OPX-FF_Vot_Name = Вот
		#LOC_OPX-FF_Vot_Name_Alt = 50000 (1) Вот
		#LOC_OPX-FF_Vot_Desc = Вот — крошечный спутник Кувры, который, как полагают, играет ключевую роль в паске впечатляющей кольцевой системы Кувры посредством дальнодействующих резонансных эффектов. Наши телескопы не могут разглядеть о нём ничего, кроме этого, поэтому Общество ракетных компаний предлагает потратить деньги на строительство ракет для полётов туда.
		#LOC_OPX-FF_Vot_Biome_JC = кратер Дженке^m
		#LOC_OPX-FF_Vot_Biome_L = низины^pf
		#LOC_OPX-FF_Vot_Biome_M = равнины^pf
		#LOC_OPX-FF_Vot_Biome_H = высокогорье^n
		
		// Nikto
		#LOC_OPX-FF_Nikto_Name = Никто^m
		#LOC_OPX-FF_Nikto_Desc = Никто — третий по величине спутник Плоцка. В отличие от своего более крупного собрата Карен, Никто — крошечный астероид, который невозможно различить с Кербина. КАУ продолжает получать отзывы о том, как выглядит этот объект.
		#LOC_OPX-FF_Nikto_Biome_H = высокогорье^n
		#LOC_OPX-FF_Nikto_Biome_M = равнины^pf
		#LOC_OPX-FF_Nikto_Biome_L = низины^pf
		
		// Bye
		#LOC_OPX-FF_Bye_Name = Бай^M
		#LOC_OPX-FF_Bye_Desc = Бай — вторая по величине луна Плоцка, немного крупнее Никто. Никто был открыт первым благодаря своей гораздо более яркой и менее загрязненной толином поверхности.
		#LOC_OPX-FF_Bye_Biome_H = высокогорье^n
		#LOC_OPX-FF_Bye_Biome_M = равнины^pf
		#LOC_OPX-FF_Bye_Biome_L = низины^pf
		#LOC_OPX-FF_Bye_Biome_C = кратеры^pm
		
  		// Ivor
		#LOC_OPX-FF_Ivor_Name = Айвор
		#LOC_OPX-FF_Ivor_Name_Alt = 28978 Айвор
		#LOC_OPX-FF_Ivor_Desc = Айвор — один из крупнейших транснейдонских объектов. Классифицируемый как Плоцкино, он имеет те же орбитальное расстояние и период обращения, что и такие объекты, как Плоцк и Лемус, и обращается вокруг Кербола дважды каждые три оборота Нейдона. В отличие от большинства объектов такого размера, Айвор является переходным объектом между карликовыми планетами и похожими на картофель астероидами, что побудило Общество ракетных компаний решительно поддержать финансирование миссии по исследованию уникальных свойств Айвора.
		#LOC_OPX-FF_Ivor_Biome_L = низины^pf
		#LOC_OPX-FF_Ivor_Biome_M = равнины^pf
		#LOC_OPX-FF_Ivor_Biome_H = высокогорье^n
		#LOC_OPX-FF_Ivor_Biome_BC = костяной каньон^m
		#LOC_OPX-FF_Ivor_Biome_BCD = глубины костяного каньона^pf
		#LOC_OPX-FF_Ivor_Biome_VC = кратер Вандерворт^m
		#LOC_OPX-FF_Ivor_Biome_SC = кратер Шаффер^m
		#LOC_OPX-FF_Ivor_Biome_ZC = кратер Зеллер^m

		// Annatar
		#LOC_OPX-FF_Annatar_Name = 385446 (1) Аннатар
		#LOC_OPX-FF_Annatar_Desc = Продолжая свои попытки довести систему Ульван до абсурда, недавно выяснилось, что Аннатар одновременно является самым медленно вращающимся и, при этом, самым сплющенным объектом во всей кербольской системе. Что же здесь произошло?
		#LOC_OPX-FF_Annatar_Biome_C = кратеры^pm
		#LOC_OPX-FF_Annatar_Biome_D = тарелка^f
		#LOC_OPX-FF_Annatar_Biome_NP = северный полюс^m
		#LOC_OPX-FF_Annatar_Biome_SP = южный полюс^m

		// Ulwan
		#LOC_OPX-FF_Ulwan_Name = 385446 Ульвэн
		#LOC_OPX-FF_Ulwan_Desc = Впервые увиденный лишь как пятно занимающее несколько пикселей матрицы и названный в честь бога из мифологии книги, написанной каким-то занудой сто лет назад, теперь про него известно насколько же он абсурден. По форме напоминающий кость, он вращается так быстро, что находится в ужасной близости от того, чтобы просто расколоться пополам! Лучше посмотреть на него, пока это не случилось.
		#LOC_OPX-FF_Ulwan_Biome_KL = доля Каммин^f
		#LOC_OPX-FF_Ulwan_Biome_PL = доля Пэрротт^f
		#LOC_OPX-FF_Ulwan_Biome_N = перемычка^f
		#LOC_OPX-FF_Ulwan_Biome_C = кратеры^pm

  		// MPE numbers
		#LOC_OPX-FF_Soden_Name_Alt = 90377 Соден^M
		#LOC_OPX-FF_Lon_Name_Alt = 90377 (1) Лон^M
		#LOC_OPX-FF_Havous_Name_Alt = 136108 Хейвос^M
		#LOC_OPX-FF_Kal_Name_Alt = 136108 (1) Кел^N
		#LOC_OPX-FF_KiKi_Name_Alt = 136108 (2) Ки'Ки^f
		#LOC_OPX-FF_Mracksis_Name_Alt = 136472 Мраксис^M
		#LOC_OPX-FF_Flake_Name_Alt = 136472 (1) Флейк^M
		#LOC_OPX-FF_Ervo_Name_Alt = 136199 Эрво^m
		#LOC_OPX-FF_Archae_Name_Alt = 136199 (1) Арки^f
	}
}
